[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test_pypi"

[packages]
pytest = "*"
pytest-cov = "*"
numpy = "*"
sympy = "*"
pytest-xdist = "*"
pandas = "*"
grip = "*"
pipenv-to-requirements = "*"
joblib = "*"

[dev-packages]
jupyter = "*"
"osol.extremum" = "==0.1.4"

[requires]
python_version = "3.6"

[scripts]
optimize = "python ./OSOL/Extremum/Applications/optimize.py"
simulate = "python ./OSOL/Extremum/Applications/simulate.py"
benchmark = "python ./OSOL/Extremum/Applications/benchmark.py"
