[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sympy = "*"
pandas = "*"
pyinterval = "*"
torch = "==0.4.0"
grip = "*"
joblib = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
rope = "*"
pylint = "*"
"flake8" = "*"
jupyter = "*"

[requires]
python_version = "3.6"
