<!-- settings.xml -->
<settings>
    <servers>
        <server>
            <!-- Maven Central Deployment (SNAPSHOT) -->
            <id>sonatype-snapshots</id>
            <username>wol4aravio</username>
            <password>Kaimere_Pass_7</password>
        </server>
        <server>
            <!-- Maven Central Deployment (RELEASE)-->
            <id>sonatype-release-staging</id>
            <username>wol4aravio</username>
            <password>Kaimere_Pass_7</password>
        </server>
    </servers>
</settings>