[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
numpy = "*"
sympy = "*"
pytest-xdist = "*"
pandas = "*"
grip = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
optimize = "python apps/optimize.py"
benchmark = "python apps/benchmark.py"
