[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
numpy = "*"
sympy = "*"
pytest-xdist = "*"
pandas = "*"
grip = "*"
pipenv-to-requirements = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
optimize = "python ./Applications/optimize.py"
simulate = "python ./Applications/simulate.py"
benchmark = "python ./Applications/benchmark.py"
